# test .npmignore by run "npm pack" before run "npm publish"
vendor
node_modules
node_lambda_layer
.serverless
.env
reactAdmin
azureFunctions
netlifyFunctions
example
vercel.*
serverless.*
*.zip
*.tgz
*.gz
*bak.js
*BAK.js